<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>

<body>
    <fieldset>
        <legend>Login Page</legend>
        <form action="Login.php" method="post">
            
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" value="">
                        
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" value="">
                    </td>
                </tr>
                <tr></tr>
               <!-- 
                <tr>
                    <td>Role :</td>
                    <td><input type="radio" name="radio" value="Seller">Seller</td>
                    <td><input type="radio" name="radio" value="Customer">Customer</td>
                </tr>  -->
    </fieldset> 
    <tr>
        <td></td>
        <td><input type="checkbox" name="rememberMe" value="rememberMe">Remember Me</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" name="loginButton" value="Login"></td>
    </tr>
    <tr>
        <td>Not a User?</td>
        <td><a href="Registration.html">Register</a></td>
        <td><a href="forgot_password.php">Forgot Password?</a></td>
    </tr>
    </table>
    </form>
    </fieldset>
</body>

</html>